@model Exception
@{
    ViewBag.Title = "404 | Error";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404!</title>
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="container">
    <!-- 404 Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row vh-100 rounded align-items-center justify-content-center mx-0">
            <div class="col-md-6 text-center p-4">
                <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                <h1 class="display-1 fw-bold">404</h1>
                <h1 class="mb-4">@Model.Message</h1>
                <p class="mb-4">Hata Oluştu!</p>
                <a class="btn btn-primary rounded-pill py-3 px-5" href="@Url.Action("Index","Login")">Ana Sayfaya Dön!</a>
            </div>
        </div>
    </div>
    <!-- 404 End -->
</body>
</html>

